@import "./assets/styles/_typography.scss";
@import "./assets/styles/_variables.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

// Header
header{
  text-align: center;
  height: 100px;
  h1{
    justify-content: center;
    margin-top: 10px;
  }
}

// Translator
.translator{
  display: flex;
  flex-direction: column;
  align-items: center;
  #translator__english{
    text-align: center;
  }
  #translator__morse_code{
    text-align: center;
  }
}