body {
  background-color: #E2DCBA;
  color: #1B2021;
}

input, div {
  height: 150px;
  width: 250px;
  border: 1px solid black;
  margin: 10px 0;
  background-color: #E9E5DD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

header {
  text-align: center;
  height: 100px;
}
header h1 {
  justify-content: center;
  margin-top: 10px;
}

.translator {
  display: flex;
  flex-direction: column;
  align-items: center;
}