@import "./assets/styles/_typography.scss";
@import "./assets/styles/_variables.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

// Header
header{
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1{
    justify-content: center;
    margin-top: 20px;
  }
}

// Translator
.translator{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  &__english{
    text-align: center;
    color: $secondary-color;
  }
  &__btn{
    padding: 10px;
    border-radius: 10px;
  }
  &__morse_code{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondary-color;
  }
}