@import "./_variables.scss";

body{
  background-image: url("background.jpg");
  background-size: cover;
  color: $primary-color;
}

input,div{
  height: 20vh;
  width: 80vw;
  border: 1px solid black;
  margin: 20px 0;
  background-color: $secondary-color;
}