@import "./_variables.scss";

body{
  background-color: $background-color;
  color: $primary-color;
}

div{
  height: 150px;
  width: 250px;
  border: 1px solid black;
  margin: 10px 0;
  background-color: $secondary-color;
}